@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Survey System</h1>
    <p>To move to sending survey page <a asp-area="" asp-action="create-survey">click here</a>.</p>
</div>